$primaryColor: rgb(243, 240, 78);
$secondaryColor: rgb(63, 56, 168);

body{
    font-family:Arial, Helvetica, sans-serif;
}
img{
    width: 100%;
    height: auto;
    background: no-repeat center center / cover;
    // background-size: center, cover, repeat;
    // background-position: center;
    // background-repeat: repeat;
    // background-size: cover;
}
#container {
    width: 100%;
    display: inline-block;
}
 
.main{
    // position: relative;
  text-align: center;
  color: white;
  .main__text {
    position: absolute;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
nav {
    overflow: hidden;
    background-color: $secondaryColor;
    // position: fixed;
    position: absolute;
    top: 0;
    width: 100%;
    .header{
        // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        float: left;
        background-color: $secondaryColor;
        margin: 0;
        padding: 15px;
        font-size: 200%;
        font-weight: bold;
        color: $primaryColor;
    }
    ul {
      float: right;
       
      list-style-type: none;
      margin: 0;
      padding: 15px;
      li {
        display: inline;
        font-family: "Fira Sans", sans-serif;
        font-size: 17px;
        a {
          color: #f2f2f2;
          text-decoration: none;
          padding: 14px;
          &:hover {
            color: $primaryColor;
          }
        }
      }
    }
  }

.btn {
    cursor: pointer;
    border: 2px solid $primaryColor;
    background-color: transparent;
    height: 40px;
    width: 150px;
    color: white;
    font-size: 1.5em;
    // box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}
.btn:hover {
    background-color: $primaryColor;
    color: black;
  }
.list__home, span{
    color: $primaryColor;
}
 
@media(max-width: 970px){
    .main{
        background-image: none;
        .main__text{
            color: $secondaryColor;
        }
        .btn{
            color: $secondaryColor;
        }
        .btn:hover{
            background-color: $primaryColor;
        }
     }
}
@media screen and (max-width: 600px) {
    nav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
     .main{
        background-image: none;
        .main__text{
            color: $secondaryColor;
        }
        .btn{
            color: $secondaryColor;
        }
        .btn:hover{
            background-color: $primaryColor;
        }
     }
  }